<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color:red;"><%= error %></p>
  <% end %>
<% end %>

<% if @user %>
  <a href="/logout">Logout</a> || <a href="/organizations">Organizations</a>
<% end %>

<h1>Organization Name: <%= @organization.name %> <form action="/organizations/<%= @organization.id %>/join" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
 <button type="submit"> Join </button>
</form>
<h3>Description: <%= @organization.description %> </h3>

<h3> Created By: </h3><h5><%= @user.first_name %> <%= @user.last_name %></h5>
<h3> Members:</h3> <h5><%= @user.first_name %> <%= @user.last_name %> </h5>
<% @organization.members.each do |member| %>
  <%= organization.member.first_name %>
  <br>
<% end %>
